.App {
  text-align: center;
}

.EachStory {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: .1em;
  font-size: calc(10px + 2vmin);
  color: black;
}

.author-image-medium {
  object-fit: cover;
  border-radius: 50%;
  background: conic-gradient( 
     green 70deg, white 70deg 110deg, 
     green 110deg 250deg, white 250deg 290deg, green 290deg);
  padding: .15em;
  height: 4rem;
  width: 4rem;
}

.author-image {
  object-fit: cover;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.ForYou {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.MissedIt {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.ForYou-img {
  height: 15rem;
}

.MissedIt-img {
  height: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
